<% provide(:title, "Home") %>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h2>Search airport by code</h2>
    <%= form_tag "airports/search" , { :class => 'form', :role => 'form' } do %>
      <div class="form-group">
      <%= text_field_tag "search", nil, placeholder: "Enter code, country or airport name", autocomplete: :off, class: "form-control" %>
    </div>
    <%= submit_tag "Search", name: nil, class: "btn btn-default btn-primary btn-block" %>   
  <% end %>
  </div>
  <div class="col-md-4"></div>
</div>
